<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">

    <!--Content of the page-->
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class ="card">
                        <div class ="card-body">
                            <h5 class="card-title"><h3><b>Payroll</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/payroll" class="btn btn-primary">Manage Payroll</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class ="card">
                        <div class ="card-body">
                            <h5 class="card-title"><h3><b>Pay Levels</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/pay-levels" class="btn btn-primary">Manage Pay Levels</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class ="card">
                        <div class ="card-body">
                            <h5 class="card-title"><h3><b>Pay Slips</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/pay-slips" class="btn btn-primary">Manage Pay Slips</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


</body>
</html>